[Unit]
Description=Backup MCserver files with online cloud services via RClone using scripts.
After=network-online.target

[Service]
Type=oneshot
User=mc-backup
Group=mc-server
UMask=007
ExecStart=/opt/do-server-backup.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
