[Unit]
Description=Lobby MC server daemon
After=network-online.target
 
[Service]
Type=simple
User=mc-lobby
Group=mc-lobby
ExecStart=/opt/mc-server/lobby/start.sh

Restart=on-failure
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
