[Unit]
Description=Survival MC server daemon
After=network-online.target
 
[Service]
Type=simple
User=mc-survie
Group=mc-survie
ExecStart=/home/ubuntu/MCserver/survie/start.sh

Restart=on-failure
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
